/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/****************************/
/*        CSS RESET ^       */
/****************************/

/****************************/
/*          PALETTE         */
/****************************/
:root {
	--highlight: #ffcc00;
	--main: #ff4b44;
	--dark: #084C61;
	--darkShade: #4F6D7A;
	--darkLight: #56A3A6;
}

/****************************/
/*        CONTAINERS        */
/****************************/
html, body {
	height: 100%;
	margin: 0;
	overflow: hidden;
}

main {
	display: flex;
	background-color: var(--main);
	height: 100vh;
}

/* LEFT SIDE */

.image-and-logo {
	width: 40%;
	position: relative;
}

.image-and-logo > img {
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: 30%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
}

.logo > img {
	width: 10%;
}

/* RIGHT SIDE */

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 60%;
}

.form-container {
	/*
	box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5),
				0 -2px 2px -2px rgba(0, 0, 0, 0.5);
	*/

	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	clip-path: inset(-1px 0 -10px 0); 
}

.signup-form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px;	
}

.input {
	margin: 20px;

	display: flex;
	flex-direction: column;
}

.input > input {
	width: 48ch;
}

.submit-button {
	background-color: var(--highlight);
	border: none;
	color: black;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	font-size: 1.5rem;
	display: inline;
}

/****************************/
/*          FONTS           */
/****************************/

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: black;
}

em {
	font-style: italic;
}

strong {
	color: white;
}

.logo-text {
	font-size: 5vw;
	font-family: 'Syne Mono', monospace;
	color: white;
}

.hero-text {
	font-size: 5rem;
	font-weight: 400;
}

.hero-subtext {
	font-size: 2rem;
	font-weight: 100;
}

.hero-followup-text {
	font-size: 2.5rem;
	font-weight: 300;
}